## Project- AirFares
--- -------------------

### Introduction
--- -------------------

This project studies the german domestic airfares during the period 25-10-2019 to 24-04-2020 between major airports in Germany. The aim of the project is to apply the techniques of machine learning on the dataset and understand the trends in pricing with respect to the various features such the booking date, departure & arrival cities, departure time etc. 
#### Details of dataset:
-- -------------------
1. Source: [https://www.kaggle.com/datasets/darjand/domestic-german-air-fares](https://www.kaggle.com/datasets/darjand/domestic-german-air-fares)
2. Generation mode: web scraping
3. Time period considered: 25-10-2019 to 24-04-2020 (6 months).
4. Total entries: 63,000
5. Features:
    * departure_city: The city from which the flight departs.
    * arrival_city: The city to which the flight arrives.
    * scrape_date: The date when flight price information was retrieved.
    * departure_date: The departure date of the flight (25-10-2019 to 24-04-2020).
    * departure_date_distance: How far in advance (e.g., "1 week") the flight was booked.
    * departure_time: The departure time of the flight.
    * arrival_time: The arrival time of the flight.
    * airline: The airline that operates the flight.
    * stops: The number of layovers or stops during the flight.
    * price (€): The price of the flight ticket in Euros.

#### Imports:
-- ----------

In [127]:
#imports
import numpy as np
import pandas as pd
import sklearn.model_selection as ms
import sklearn.feature_extraction.text as text
import sklearn.naive_bayes as nb
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction import text
from sklearn.metrics import ConfusionMatrixDisplay, accuracy_score

pd.set_option('display.max_colwidth', 50)

#### Load the dataset:
-- ------------------

In [128]:
#Load the data set
df = pd.read_csv('./data/German Air Fares.csv');

#### Data Understanding:
-- ----------------------

##### Basic statistics:
-- ----------------------

In [129]:
#Basic statistics
df.shape;                                           #--> (62626, 10)
df.info();df.isna().sum();                          #--> (No null objects)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62626 entries, 0 to 62625
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   departure_city           62626 non-null  object
 1   arrival_city             62626 non-null  object
 2   scrape_date              62626 non-null  object
 3   departure_date           62626 non-null  object
 4   departure_date_distance  62626 non-null  object
 5   departure_time           62626 non-null  object
 6   arrival_time             62626 non-null  object
 7   airline                  62626 non-null  object
 8   stops                    62626 non-null  object
 9   price (€)                62626 non-null  object
dtypes: object(10)
memory usage: 4.8+ MB

##### Rename columns
-- ----------------------

In [130]:
#-----------------------------------------------------------------------------------
df = df.rename(columns={'price (€)': 'price'});                              #--> Rename 'price (€)' to 'price'
df.departure_city.unique();df.arrival_city.unique();
# df['departure_city'] = df['departure_city'].astype(str).str.split().str[1]  #--> Rename departure city
# df['arrival_city'] = df['arrival_city'].astype(str).str.split().str[1]      #--> Rename arrival city

##### Understanding departure and scrape dates
-- ----------------------

In [131]:
#Departure dates
dep_dates = pd.to_datetime(df['departure_date'], format='%d.%m.%Y');
dep_dates = sorted(dep_dates.unique()); 
dep_dates = pd.Series(dep_dates);
dep_dates.shape;                                    
dep_dates.diff(periods=1).unique();                

#Scrape dates
scrape_dates = pd.to_datetime(df['scrape_date'], format='%d.%m.%Y');
scrape_dates = sorted(scrape_dates.unique()); 
scrape_dates = pd.Series(scrape_dates);
scrape_dates.shape;                                    
scrape_dates.diff(periods=1).unique();

###### Conclusion: 
-- --------------
* **Departure dates:**
    * 42 unique departure dates
    * departure date frequencies are not unique -> ['1 days', '11 days', '5 days', '44 days', '85 days']
* **Scrape dates:**
    * scrape date frequencies are only from 18-24.10.2019
    * scrape date frequencies are unique -> 1 day

#####  Understanding departure-date distance
-- ----------------------------------------

In [132]:
df.departure_date_distance.value_counts();           
#--> 
# 6 months    12672
# 6 weeks     11222
# 1 month     10092
# 1 week       9949
# 3 month      9748
# 2 weeks      7850
# 2 week       1093
#--> Probably, scrape_date can be omitted, redundant feature?
#-----

###### Conclusion: 
-- --------------
* **Departure-date distance:**
    * scrape_date can probably be omitted, redundant feature?

##### Understanding departure and arrival times
-- ---------------------------------------------

In [133]:
#To-Do:
#Time formats are not unique:
#--> am/pm and 24 hr formats mixed
#--> no consistent display schema
#--> probably convert into categorical data: early-morning, morning, day, evening, night depending on time values

##### Understanding Airlines
-- ---------------------------------------------

In [134]:
df.airline.value_counts()

airline
Lufthansa                        45912
Eurowings                        12289
easyJet                           2935
KLM                                341
Luxair                             290
British Airways                    197
Air France                         194
Multiple Airlines                  153
Swiss International Air Lines      140
Mehrere Fluglinien                  69
Austrian Airlines                   56
LOT-Polish Airlines                 44
Flybe                                3
SAS                                  2
Alitalia                             1
Name: count, dtype: int64

###### Conclusion: 
-- --------------
* **Airlines:**
    * There are 69 'Mehrere Fluglinien', Remove these entries?

##### Understanding stops
-- ---------------------------------------------

In [ ]:
df.stops.value_counts();

In [136]:
df.sample(5)

,departure_city,arrival_city,scrape_date,departure_date,departure_date_distance,departure_time,arrival_time,airline,stops,price
5435,Nürnberg,Berlin-Tegel,18.10.2019,29.11.2019,6 weeks,14:20 Uhr,21:25 Uhr,Lufthansa,(1 Stopp),204
22257,Dresden,Köln/Bonn,20.10.2019,20.04.2020,6 months,17:15 Uhr,20:00 Uhr,Lufthansa,(1 Stopp),351
26354,München,Berlin-Tegel,21.10.2019,21.11.2019,1 month,06:15 Uhr,07:35 Uhr,easyJet,direct,46
48453,Berlin-Tegel,Düsseldorf,24.10.2019,07.11.2019,2 weeks,16:45 Uhr,22:20 Uhr,Lufthansa,(1 Stopp),359
18861,Köln/Bonn,Berlin-Tegel,20.10.2019,20.01.2020,3 month,08:50 Uhr,10:00 Uhr,Eurowings,direct,52